Repository thomashoddinott/fullstack-mern-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd frontend && eslint --fix

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx}": [
    "prettier --write",
    "cd frontend && eslint --fix"
  ],
  "backend/**/*.js": [
    "prettier --write"
  ],
  "*.{json,yml,yaml,md}": [
    "prettier --write"
  ]
}

run initial `npm run format`
  .github/workflows/claude.yml
  .github/workflows/cypress.yml
  .github/workflows/format-check.yml
  .lintstagedrc.json
  CLAUDE.md
  backend/docker/init.js
  backend/src/server.js
  frontend/cypress.config.js
  frontend/cypress/e2e/contact.spec.cy.js
  frontend/cypress/e2e/subscription.spec.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/draft-design/readme.md
  frontend/eslint.config.js
  frontend/src/App.jsx
  frontend/src/Layout.jsx
  frontend/src/components/BookClasses/BookClasses.jsx
  frontend/src/components/BookClasses/formatClassTime.test.js
  frontend/src/components/ClassCard.jsx
  frontend/src/components/ContactForm.jsx
  frontend/src/components/MembershipPanel.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/SubscriptionCard.jsx
  frontend/src/components/TeacherModal.jsx
  frontend/src/components/UpcomingClassRow.jsx
  frontend/src/components/UpcomingClasses.jsx
  frontend/src/components/UserCard.jsx
  frontend/src/constants/classStyles.js
  frontend/src/main.jsx
  frontend/src/pages/AboutPage.jsx
  frontend/src/pages/ClassesPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/SchedulePage.jsx
  frontend/src/pages/SubscriptionPage.jsx
  frontend/src/test/setup.js
  frontend/vite.config.js
  frontend/vitest.config.js
  readme.md
Due: prettier --write, cd frontend && eslint --fix

fix broken dep
  .github/workflows/format-check.yml
Due: prettier --write

allow exports for unit testing
  frontend/eslint.config.js
Due: prettier --write, cd frontend && eslint --fix

format the config file 🙄
  frontend/eslint.config.js
Due: prettier --write, cd frontend && eslint --fix

update deps
  frontend/package.json
Due: prettier --write

run front/back/db (fullstack app) scripts with `concurrently`
  package-lock.json
  package.json
  readme.md
Due: prettier --write

setup vitest.yml
  .github/workflows/vitest.yml
Due: prettier --write

compatability workaround
  .github/workflows/vitest.yml
Due: prettier --write

move vitest to top-level
  .claude/settings.local.json
  .github/workflows/vitest.yml
  CLAUDE.md
  frontend/package.json
  package-lock.json
  package.json
  vitest.config.js
Due: prettier --write

Integrate Stripe
  backend/package-lock.json
  backend/package.json
  backend/src/server.js
  frontend/src/App.jsx
  frontend/src/components/PaymentResult.jsx
  frontend/src/pages/SubscriptionPage.jsx
Due: prettier --write, cd frontend && eslint --fix

update e2e test (mocking stripe)
  frontend/cypress/e2e/subscription.spec.cy.js
Due: prettier --write, cd frontend && eslint --fix

unit tests
  backend/src/stripe.test.js
  frontend/src/components/PaymentResult.test.jsx
  frontend/src/pages/SubscriptionPage.test.js
Due: prettier --write, cd frontend && eslint --fix

prettier formatting
  .claude/settings.local.json
  frontend/src/components/PaymentResult.test.jsx
Due: prettier --write, cd frontend && eslint --fix

comment out this test for now
  frontend/src/components/PaymentResult.test.jsx
Due: prettier --write, cd frontend && eslint --fix

Refactor: migrate cypress to root level
  .claude/settings.local.json
  .github/workflows/cypress.yml
  CLAUDE.md
  cypress.config.js
  cypress/e2e/contact.spec.cy.js
  cypress/e2e/subscription.spec.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

upgrade to node 25
  .github/workflows/cypress.yml
  .github/workflows/format-check.yml
  .github/workflows/vitest.yml
Due: prettier --write

re-run test on GH Actions
  frontend/src/components/PaymentResult.test.jsx
Due: prettier --write, cd frontend && eslint --fix

Fix PaymentResult tests by moving testing libraries to frontend
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

[refactor] ==> tanstack
  frontend/src/components/ContactForm.jsx
Due: prettier --write, cd frontend && eslint --fix

[refactor] extract css
  .claude/settings.local.json
  frontend/src/components/ContactForm.css
  frontend/src/components/ContactForm.jsx
Due: prettier --write, cd frontend && eslint --fix

update claude.md
  CLAUDE.md
Due: prettier --write

e2e for inactive user renewing subscription
  cypress/e2e/subscription.spec.cy.js
Due: none

gitignore
  backend/.gitignore
Due: none

[libaries]
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

faux firebase implementation on frontend only
  frontend/FIREBASE_SETUP.md
  frontend/src/App.jsx
  frontend/src/firebase.js
  frontend/src/main.jsx
  frontend/src/pages/CreateAccountPage.css
  frontend/src/pages/CreateAccountPage.jsx
  frontend/src/pages/LoginPage.css
  frontend/src/pages/LoginPage.jsx
Due: prettier --write, cd frontend && eslint --fix

post endpoint for <CreateAccountPage/> (slowly hook into backend)
  SIGNUP_FLOW.md
  backend/src/server.js
  frontend/src/pages/CreateAccountPage.css
  frontend/src/pages/CreateAccountPage.jsx
Due: prettier --write, cd frontend && eslint --fix

Refactor CSS ==> tailwind
  frontend/src/pages/CreateAccountPage.css
  frontend/src/pages/LoginPage.css
Due: none

hardcode in a firebase user
  backend/docker/init.js
Due: prettier --write

replace hardcoded user with firebase auth via hook
  frontend/src/App.jsx
  frontend/src/components/BookClasses/BookClasses.jsx
  frontend/src/components/ClassCard.jsx
  frontend/src/components/MembershipPanel.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/UpcomingClasses.jsx
  frontend/src/components/UserCard.jsx
  frontend/src/hooks/useAuth.jsx
  frontend/src/main.jsx
  frontend/src/pages/SubscriptionPage.jsx
Due: prettier --write, cd frontend && eslint --fix

Support string `uid` for avatar GET
  backend/docker/init.js
  backend/src/server.js
Due: prettier --write

Programmatic Authentication with Firebase and Cypress - PASSES locally
  cypress.config.js
  cypress/e2e/contact.spec.cy.js
  cypress/e2e/subscription.spec.cy.js
  cypress/support/auth.js
  cypress/support/commands.js
  package-lock.json
  package.json
Due: prettier --write

Cypress Firebase auth PASSING locally with env variables
  cypress.config.js
  package-lock.json
  package.json
Due: prettier --write

Fix Cypress promise/command conflict in Firebase auth
  cypress/support/auth.js
Due: none

pass Cypress secrets to GH Actions
  .github/workflows/cypress.yml
Due: prettier --write

`npm run format`
  SIGNUP_FLOW.md
  cypress/e2e/subscription.spec.cy.js
  frontend/FIREBASE_SETUP.md
  frontend/src/hooks/useAuth.jsx
Due: prettier --write, cd frontend && eslint --fix

pass `npm run lint`
  frontend/src/pages/LoginPage.jsx
Due: prettier --write, cd frontend && eslint --fix

[FIX] user creation should upload default avatar
  backend/src/defaultAvatar.js
  backend/src/server.js
Due: prettier --write

add some confetti
  .claude/settings.local.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CreateAccountPage.jsx
Due: prettier --write, cd frontend && eslint --fix

Plan
  92-firebase-2-protect-backend-routes-plan.md
Due: prettier --write

init `firebase-admin`
  backend/src/server.js
Due: prettier --write
