Repository thomashoddinott/fullstack-mern-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd frontend && eslint --fix

feat: add Firebase authentication middleware
  backend/src/server.js
Due: prettier --write

feat: protect backend routes with Firebase authentication
  backend/src/server.js
Due: prettier --write

feat: add Firebase ID token transmission to frontend
  backend/src/server.js
  frontend/src/components/BookClasses/BookClasses.jsx
  frontend/src/components/ClassCard.jsx
  frontend/src/components/PaymentResult.jsx
  frontend/src/components/UserCard.jsx
  frontend/src/pages/CreateAccountPage.jsx
  frontend/src/pages/SubscriptionPage.jsx
  frontend/src/utils/api.js
Due: prettier --write, cd frontend && eslint --fix

[FIX] Forgotten component in phase 4
  frontend/src/components/Navbar.jsx
Due: prettier --write, cd frontend && eslint --fix

feat: add auth error handling and fix Navbar token transmission
  frontend/src/utils/api.js
Due: prettier --write, cd frontend && eslint --fix

rm plan
  92-firebase-2-protect-backend-routes-plan.md
Due: prettier --write

`npm run format`
  backend/src/server.js
  frontend/src/components/ClassCard.jsx
  frontend/src/components/PaymentResult.jsx
  frontend/src/pages/SubscriptionPage.jsx
Due: prettier --write, cd frontend && eslint --fix

[fix] mock auth token
  frontend/src/components/PaymentResult.test.jsx
Due: prettier --write, cd frontend && eslint --fix

Tell Claude to focus on "high-value" tests only.
  CLAUDE.md
Due: prettier --write

Focus on high-value tests
  frontend/src/components/PaymentResult.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Tests] BookClasses
  frontend/src/components/BookClasses/BookClasses.test.jsx
  frontend/src/components/BookClasses/formatClassTime.test.js
Due: prettier --write, cd frontend && eslint --fix

[Tests] Add tests for ClassCard
  frontend/src/components/ClassCard.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Tests] Add placeholder tests for presentational components
  frontend/src/components/ContactForm.test.jsx
  frontend/src/components/MembershipPanel.test.jsx
  frontend/src/components/Navbar.test.jsx
  frontend/src/components/ProtectedRoute.test.jsx
  frontend/src/components/TeacherModal.test.jsx
  frontend/src/components/UpcomingClassRow.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Tests] Add tests for SubscriptionCard date math logic
  frontend/src/components/SubscriptionCard.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Tests] Add tests for UpcomingClasses
  frontend/src/components/UpcomingClasses.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Tests] Add tests for UserCard date math logic
  frontend/src/components/UserCard.test.jsx
Due: prettier --write, cd frontend && eslint --fix

[Refactor] Move components into folders
  frontend/src/App.jsx
  frontend/src/Layout.jsx
  frontend/src/components/BookClasses/BookClasses.jsx
  frontend/src/components/ClassCard/ClassCard.css
  frontend/src/components/ClassCard/ClassCard.jsx
  frontend/src/components/ClassCard/ClassCard.test.jsx
  frontend/src/components/ContactForm/ContactForm.css
  frontend/src/components/ContactForm/ContactForm.jsx
  frontend/src/components/ContactForm/ContactForm.test.jsx
  frontend/src/components/MembershipPanel/MembershipPanel.css
  frontend/src/components/MembershipPanel/MembershipPanel.jsx
  frontend/src/components/MembershipPanel/MembershipPanel.test.jsx
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/Navbar.test.jsx
  frontend/src/components/PaymentResult/PaymentResult.jsx
  frontend/src/components/PaymentResult/PaymentResult.test.jsx
  frontend/src/components/ProtectedRoute/ProtectedRoute.jsx
  frontend/src/components/ProtectedRoute/ProtectedRoute.test.jsx
  frontend/src/components/SubscriptionCard/SubscriptionCard.css
  frontend/src/components/SubscriptionCard/SubscriptionCard.jsx
  frontend/src/components/SubscriptionCard/SubscriptionCard.test.jsx
  frontend/src/components/TeacherModal/TeacherModal.css
  frontend/src/components/TeacherModal/TeacherModal.jsx
  frontend/src/components/TeacherModal/TeacherModal.test.jsx
  frontend/src/components/UpcomingClassRow/UpcomingClassRow.css
  frontend/src/components/UpcomingClassRow/UpcomingClassRow.jsx
  frontend/src/components/UpcomingClassRow/UpcomingClassRow.test.jsx
  frontend/src/components/UpcomingClasses/UpcomingClasses.css
  frontend/src/components/UpcomingClasses/UpcomingClasses.jsx
  frontend/src/components/UpcomingClasses/UpcomingClasses.test.jsx
  frontend/src/components/UserCard/UserCard.css
  frontend/src/components/UserCard/UserCard.jsx
  frontend/src/components/UserCard/UserCard.test.jsx
  frontend/src/pages/AboutPage.jsx
  frontend/src/pages/ClassesPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/SubscriptionPage.jsx
Due: prettier --write, cd frontend && eslint --fix

[Fix] Update CSS @reference paths after component refactoring
  frontend/src/components/ClassCard/ClassCard.css
  frontend/src/components/ContactForm/ContactForm.css
  frontend/src/components/MembershipPanel/MembershipPanel.css
  frontend/src/components/Navbar/Navbar.css
  frontend/src/components/SubscriptionCard/SubscriptionCard.css
  frontend/src/components/UserCard/UserCard.css
Due: none

[Docs] Update Testing Strategy section in CLAUDE.md
  CLAUDE.md
Due: prettier --write

[Library] install supertest for integration testing
  package-lock.json
  package.json
Due: prettier --write

[Tests] Add first backend integration test for GET /api/plans
  backend/src/server.js
  backend/src/server.test.js
Due: prettier --write

[Tests] Add integration test for GET /api/classes
  backend/src/server.test.js
Due: prettier --write

[Tests] Add integration tests for GET /api/scheduled-classes
  backend/src/server.test.js
Due: prettier --write

rm old /hello route
  backend/src/server.js
Due: prettier --write

[Tests] Add integration tests for GET /api/plans/:planId
  backend/src/server.test.js
Due: prettier --write

[Tests] Add integration test for GET /api/teachers
  backend/src/server.test.js
Due: prettier --write

[Tests] Add integration tests for GET /api/teachers/:id
  backend/src/server.test.js
Due: prettier --write

[Tests] Add integration tests for GET /api/scheduled-classes/:id
  backend/src/server.test.js
Due: prettier --write

[Tests] Add validation tests for POST /api/contact
  backend/src/server.test.js
Due: prettier --write

claude permissions
  .claude/settings.local.json
Due: prettier --write

[Tests] Add tests for classStyles.js getClassStyle function
  frontend/src/constants/classStyles.test.js
Due: prettier --write, cd frontend && eslint --fix

[Refactor] Export helper functions from server.js for testing
  backend/src/server.js
  backend/src/stripe.test.js
Due: prettier --write

`npm run format`
  backend/src/server.test.js
Due: prettier --write

[Refactor] Split CI tests into separate frontend and backend workflows
  .github/workflows/vitest-backend.yml
  .github/workflows/vitest-frontend.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: frontend/**/*.{js,jsx}) or (any of: backend/**/*.js)) or (any of: *.{json,yml,yaml,md})
  cd frontend && eslint --fix: any of: frontend/**/*.{js,jsx}
